* {
    font-family: Roboto;
    flex: none;
    word-break: break-all;
}
footer {
    height: 120px;
    background-color: #222;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}
header{
    height: 100vh;
}
.bg{
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
}
article{
    height: fit-content;
    background-color: #eee;
}
.article{
    display: flex;
    flex-direction: column;
    justify-items: center;
    transform: translateY(-24px);
}
.article>h2{
    margin: 32px 0px;
    text-align: center;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.main-info{
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    max-width: 916px;
    min-height: 200px;
    height: fit-content;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.btns{
    width: 320px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.header-txt{
}